<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <default-context-path>/digital-paradise</default-context-path>


<!--    <security-role>-->
<!--        <role-name>CLIENT</role-name>-->
<!--    </security-role>-->

<!--    <security-role>-->
<!--        <role-name>ADMIN</role-name>-->
<!--    </security-role>-->

<!--    <security-role>-->
<!--        <role-name>EMPLOYEE</role-name>-->
<!--    </security-role>-->


    <security-constraint>
        <display-name>PublicResources</display-name>
        <web-resource-collection>
            <web-resource-name>PublicResources</web-resource-name>
            <url-pattern>/authenticate</url-pattern>
            <url-pattern>/users</url-pattern>
<!--            <http-method>POST</http-method>-->
        </web-resource-collection>
<!--        <user-data-constraint>-->
<!--            <transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
<!--        </user-data-constraint>-->
    </security-constraint>


<!--    <security-constraint>-->
<!--        <display-name>AdministratorResources</display-name>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>AdministratorResources</web-resource-name>-->
<!--            <url-pattern>/users/*</url-pattern>-->
<!--            <url-pattern>/employee/*</url-pattern>-->
<!--            <url-pattern>/admin/*</url-pattern>-->
<!--            <http-method>GET</http-method>-->
<!--            <http-method>POST</http-method>-->
<!--            <http-method>PUT</http-method>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>ADMIN</role-name>-->
<!--        </auth-constraint>-->
<!--        <user-data-constraint>-->
<!--            <transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
<!--        </user-data-constraint>-->
<!--    </security-constraint>-->

<!--    <security-constraint>-->
<!--        <display-name>EmployeeResources</display-name>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>EmployeeGoodsResources</web-resource-name>-->
<!--            <url-pattern>/goods/*</url-pattern>-->
<!--            <http-method>GET</http-method>-->
<!--            <http-method>POST</http-method>-->
<!--            <http-method>PUT</http-method>-->
<!--            <http-method>DELETE</http-method>-->
<!--        </web-resource-collection>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>EmployeeOrdersResources</web-resource-name>-->
<!--            <url-pattern>/orders/*</url-pattern>-->
<!--            <http-method>GET</http-method>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>EMPLOYEE</role-name>-->
<!--        </auth-constraint>-->
<!--        <user-data-constraint>-->
<!--            <transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
<!--        </user-data-constraint>-->
<!--    </security-constraint>-->

<!--    <security-constraint>-->
<!--        <display-name>ClientResources</display-name>-->

<!--        <web-resource-collection>-->
<!--            <web-resource-name>ClientReadOnlyResources</web-resource-name>-->
<!--            <url-pattern>/goods/*</url-pattern>-->
<!--            <url-pattern>/orders/_self</url-pattern>-->
<!--            <http-method>GET</http-method>-->
<!--        </web-resource-collection>-->

<!--        <web-resource-collection>-->
<!--            <web-resource-name>ClientOrderResources</web-resource-name>-->
<!--            <url-pattern>/orders/order</url-pattern>-->
<!--            <http-method>POST</http-method>-->
<!--        </web-resource-collection>-->

<!--        <auth-constraint>-->
<!--            <role-name>CLIENT</role-name>-->
<!--        </auth-constraint>-->
<!--        <user-data-constraint>-->
<!--            <transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
<!--        </user-data-constraint>-->
<!--    </security-constraint>-->


<!--    <security-constraint>-->
<!--        <display-name>AuthenticatedUserResources</display-name>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>AuthenticatedUserResources</web-resource-name>-->
<!--            <url-pattern>/users/_self</url-pattern>-->
<!--            <http-method>GET</http-method>-->
<!--        </web-resource-collection>-->

<!--        <web-resource-collection>-->
<!--            <web-resource-name>AuthenticatedUserResources_update-token</web-resource-name>-->
<!--            <url-pattern>/authenticate/token-update</url-pattern>-->
<!--            <http-method>POST</http-method>-->
<!--        </web-resource-collection>-->

<!--        <auth-constraint>-->
<!--            <role-name>ADMIN</role-name>-->
<!--            <role-name>CLIENT</role-name>-->
<!--            <role-name>EMPLOYEE</role-name>-->
<!--        </auth-constraint>-->

<!--    </security-constraint>-->

</web-app>